/* 1872 */
@media (max-width: 1872px) {
  /* .contact-card {
    position: absolute;
    right: -5rem;
    bottom: -19rem;
  } */
}

/* 1666 */
@media (max-width: 1666px) {
  .you-can-hero {
    top: -2.8rem;
  }
}

/* 1563 */
@media (max-width: 1563px) {
  .hero-grid {
    min-height: calc(108vh - 200px);
  }

  .contact-card-wrapper {
    left: 25%;
  }
}

/* 1484 */
@media (max-width: 1484px) {
  .hero-greeting {
    bottom: 10.5rem;
  }

  .hero-center {
    bottom: -7rem;
  }
}

/* 1462 */
@media (max-width: 1462px) {
  .contact-card-wrapper {
    left: 20%;
  }

  .you-can-hero {
    font-size: 1.8rem;
    top: -3.4rem;
  }
  #you-can-list li {
    font-size: 1.8rem;
  }
  .you-can-hero {
    position: relative;
    right: 1rem;
  }
}

/* 1442 */
@media (max-width: 1442px) {
  .you-can-hero {
    right: unset;
    left: -12%;
  }
}

/* 1429 */
@media (max-width: 1429px) {
  .contact-card-wrapper {
    left: 22%;
  }
}

/* 1428 */
@media (max-width: 1428px) {
  .contact-card {
    position: relative;
    left: -46px;
    width: 25rem;
    height: 46.2rem;
    top: 1em;
  }

  .contact-avatar .profile-ring {
    left: -56%;
    height: 46.3rem;
    width: 25.5rem;
  }

  .hero-center {
    bottom: -11rem;
  }

  .you-can-hero {
    position: relative;
    right: 2rem;
  }

  .marquee-label {
    position: relative;
    top: 1rem;
  }
}

/* 1288 */
@media (max-width: 1288px) {
  .hero-greeting {
    bottom: 11.5rem;
  }
  .you-can-hero {
    font-size: 1.6rem;
    top: -3.8rem;
  }
  #you-can-list li {
    font-size: 1.6rem;
  }
}

/* 1180 */
@media (max-width: 1180px) {
  .contact-card {
    position: absolute;
    left: -5rem;
    bottom: -26rem;
    width: 78%;
  }

  .contact-avatar .profile-ring {
    position: absolute !important;
    /* top: -1.7rem !important; */
    /* right: 27% !important; */
    left: -95px !important;
    /* bottom: auto !important; */
    width: 23.8rem !important;
    height: 46.2rem !important;
  }

  .hero-center {
    right: 11%;
    top: 9.5rem;
  }

  .hero-description {
    top: -5rem;
  }
  .contet {
    top: -7rem;
  }
}

/* 1060 */
@media (max-width: 1060px) {
  .you-can-hero {
    font-size: 1.4rem;
    top: -4.2rem;
  }
  #you-can-list li {
    font-size: 1.4rem;
  }
}

/* 1138 */
@media (max-width: 1138px) {
  .hero-center {
    right: 10%;
  }
}

/* 988 */
@media (max-width: 988px) {
  .you-can-hero {
    font-size: 1.3rem;
    top: -4.8rem;
  }
  #you-can-list li {
    font-size: 1.3rem;
  }
  .work {
    left: 3rem;
  }

  .hero-center {
    right: 9%;
  }

  .contact-card-wrapper {
    left: 25%;
  }
}

/* 942 */
@media (max-width: 942px) {
  .you-can-hero {
    font-size: 1.2rem;
  }
  #you-can-list li {
    font-size: 1.2rem;
  }
}

/* 916 */
@media (max-width: 916px) {
  .you-can-hero {
    font-size: 1.2rem;
  }
  #you-can-list li {
    font-size: 1.2rem;
  }
}

/* 911 */
@media (max-width: 911px) {
  .you-can-hero {
    top: -4.7rem;
  }

  .hero-center {
    right: 17%;
  }

  .contact-card-wrapper {
    left: 22%;
  }
}

/* 903 */
@media (max-width: 903px) {
  #you-can-list {
    left: 1rem;
  }

  .you-can-hero {
    font-size: 1.1rem;
  }
  #you-can-list li {
    font-size: 1.1rem;
  }
}

/* 886 */
@media (max-width: 886px) {
  .contact-card {
    left: -8rem;
    width: 74%;
  }
  .contact-avatar .profile-ring {
    position: absolute !important;
    /* top: -1.7rem !important; */
    /* right: 27% !important; */
    left: -86px !important;
    /* bottom: auto !important; */
    width: 22.8rem !important;
    height: 46.4rem !important;
  }

  .hero-center {
    left: -22%;
  }

  .services-grid {
    grid-template-columns: 1fr 1fr;
  }

  .projects-grid {
    grid-template-columns: 1fr 1fr;
  }

  .contact-card-wrapper {
    left: 30%;
  }

  .hero-greeting {
    bottom: 10.5rem;
  }
}

/* 864 */
@media (max-width: 864px) {
  .hero-center {
    left: -29%;
  }

  .you-can-hero {
    font-size: 1rem;
    top: -5.1rem;
  }
  #you-can-list li {
    font-size: 1rem;
  }

  #you-can-list {
    left: 0rem;
  }
}

/* 794 */
@media (max-width: 794px) {
  #you-can-list li {
    font-size: 0.9rem;
  }

  #you-can-list {
    left: -0.1rem;
  }
}

/* 788 */
@media (max-width: 788px) {
  .contact-card-wrapper {
    left: 29%;
  }

  .hero-grid {
    height: 76rem;
    grid-template-columns: 1fr;
  }

  .contact-card {
    left: -3rem;
    width: 30rem;
    top: -0rem;
    height: 41rem;
  }

  .contact-avatar .profile-ring {
    position: absolute !important;
    /* top: -1.7rem !important; */
    /* right: 27% !important; */
    left: -147px !important;
    /* bottom: auto !important; */
    width: 30.5rem !important;
    height: 41.1rem !important;
  }

  .hero-center {
    left: 4rem;
    bottom: -13rem;
  }

  .hero-description {
    max-width: 43rem !important;
  }

  .contet {
    position: relative;
    left: 6%;
  }

  #you-can-list li {
    font-size: 1.7rem;
  }

  .you-can-hero {
    font-size: 1.7rem;
    top: -3rem;
    left: -3rem;
  }
  .hero-greeting {
    bottom: 10.5rem;
  }
  #you-can-list {
    left: 3.9rem;
  }
}

/* 726 */
@media (max-width: 726px) {
  .hero-center {
    left: 1rem;
    bottom: -13rem;
  }

  .services-grid {
    grid-template-columns: 1fr;
  }

  .contact-grid {
    grid-template-columns: 1fr;
  }
  .contact-info {
    height: 95%;
    left: -10px;
  }
  .you-can-hero {
    font-size: 1.7rem;
    top: -3.3rem;
  }
}

/* 666 */
@media (max-width: 666px) {
  #you-can-list li {
    font-size: 1.6rem;
  }

  .you-can-hero {
    font-size: 1.6rem;
    top: -3.7rem;
  }

  .contact-card {
    left: -6rem;
  }
}

/* 630 */
@media (max-width: 630px) {
  #you-can-list li {
    font-size: 1.5rem;
  }

  .you-can-hero {
    font-size: 1.5rem;
    /* top: -2.5rem; */
  }

  .contet {
    left: -5%;
  }

  .contact-card {
    left: -7rem;
  }
}

/* 600 */
@media (max-width: 600px) {
  #you-can-list li {
    font-size: 1.4rem;
  }

  .you-can-hero {
    font-size: 1.4rem;
    top: -4.2rem;
  }
  .hero-greeting {
    bottom: 10.2rem;
  }
}

/* 582 */
@media (max-width: 582px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }

  .contact-card {
    left: -8rem;
  }
  .certs-track .cert-img {
    width: 27rem;
    height: 17rem;
  }

  .certs-track {
    height: 281px;
  }
}

/* 576 */
@media (max-width: 576px) {
  #you-can-list li {
    font-size: 1.3rem;
  }

  .you-can-hero {
    font-size: 1.3rem;
    top: -4.2rem;
    left: -1rem;
  }
}

/* 550 */
@media (max-width: 550px) {
  #you-can-list li {
    font-size: 1.2rem;
  }

  .you-can-hero {
    font-size: 1.2rem;
    top: -4.2rem;
    left: -1.3rem;
  }
}

/* 520 */
@media (max-width: 520px) {
  #you-can-list li {
    font-size: 1.1rem;
  }

  .you-can-hero {
    font-size: 1.1rem;
    top: -4.3rem;
  }

  #you-can-list {
    left: 3rem;
  }

  .contact-card {
    width: 27rem;
  }

  .contact-avatar .profile-ring {
    position: absolute !important;
    /* top: -1.7rem !important; */
    /* right: 27% !important; */
    left: -122px !important;
    /* bottom: auto !important; */
    width: 27.4rem !important;
    height: 41.1rem !important;
  }
}

/* 514 */
@media (max-width: 514px) {
  .contact-card {
    left: -8rem;
  }

  .contet {
    left: -4%;
  }
}

/* 496 */
@media (max-width: 496px) {
  .hero-description {
    max-width: 26rem !important;
  }

  .contact-card {
    left: -8rem;
  }
}

/* 466 */
@media (max-width: 466px) {
  .contact-card {
    left: -6rem;
    width: 74%;
    top: -1rem;
    height: 45rem;
  }

  .contact-avatar .profile-ring {
    position: absolute !important;
    /* top: -1.7rem !important; */
    /* right: 27% !important; */
    left: -84px !important;
    /* bottom: auto !important; */
    width: 22.5rem !important;
    height: 45.1rem !important;
  }

  .contet .text h2 {
    font-size: xx-large;
  }
  .contet .text span {
    font-size: smaller;
  }
  .hero-greeting {
    font-size: x-large;
  }
  .hero-title {
    font-size: 1.3rem;
  }

  .hero-greeting {
    top: -9rem;
  }
}

/* 444 */
@media (max-width: 444px) {
  .hero-description {
    max-width: 22rem !important;
  }

  .contact-card {
    left: -7rem;
  }

  .certs-track .cert-img {
    width: 18rem;
    height: 13rem;
  }

  .certs-track {
    height: 213px;
  }
}

/* 432 */
@media (max-width: 432px) {
  .hero-grid {
    height: 75rem;
  }

  .contact-card {
    left: -6rem;
    width: 67%;
    height: 48rem;
    top: -14px;
  }

  .contact-avatar .profile-ring {
    position: absolute !important;
    top: -1.7rem !important;
    /* right: 27% !important; */
    left: -68px !important;
    /* bottom: -30rem !important; */
    width: 20.7rem !important;
    height: 48.4rem !important;
  }

  .hero-center {
    width: 78%;
    top: 11rem;
  }
  .marquee-label {
    position: relative;
    top: 1rem;
  }
  .you-can-hero {
    top: -4.1rem;
  }
}

/* 470 */
@media (max-width: 470px) {
  #you-can-list li {
    font-size: 1.1rem;
  }

  .you-can-hero {
    font-size: 1.1rem;
    top: -4.4rem;
  }

  #you-can-list {
    left: 2rem;
  }
}

/* 456 */
@media (max-width: 456px) {
  #you-can-list li {
    font-size: 1rem;
  }

  .you-can-hero {
    font-size: 1.1rem;
    top: -3.6rem;
  }

  .work {
    top: -10rem;
  }
}

/* 426 */
@media (max-width: 426px) {
  .you-can-hero {
    font-size: 0.8rem;
    top: -4rem;
  }

  #you-can-list li {
    font-size: 0.9rem;
  }

  .hero-greeting {
    top: -8rem;
  }
}

/* 414 */
@media (max-width: 414px) {
  .navbar {
    top: unset;
    bottom: -5px;
  }
  .contact-card {
    top: -262px !important;
    height: 48.4rem !important;
    left: -7rem !important;
  }

  .nav-tooltip {
    top: -2.5rem;
    bottom: unset;
  }

  .contact-card-wrapper {
    top: 13rem;
  }

  #you-can-list {
    left: 0.5rem;
  }
}

/* 360 */
@media (max-width: 360px) {
  #you-can-list li {
    font-size: 0.8rem;
  }

  .you-can-hero {
    font-size: 0.8rem;
    top: -4.2rem;
  }
}

/* 392 */
@media (max-width: 392px) {
  .contact-card {
    left: -8rem !important;
    width: 66%;
  }

  .hero-center {
    width: 70%;
  }
}

/* 355 */
@media (max-width: 366px) {
  .links {
    right: 7rem;
  }
}

/* 358 */
@media (max-width: 358px) {
  .contact-card {
    left: -7rem;
    width: 59%;
    height: 49rem;
  }

  .contact-avatar .profile-ring {
    position: absolute !important;
    top: -1.7rem !important;
    /* right: 27% !important; */
    left: -51px !important;
    /* bottom: -30rem !important; */
    width: 18.4rem !important;
    height: 48.9rem !important;
  }

  .hero-grid {
    height: 77rem;
  }

  .hero-center {
    bottom: -14rem;
    width: 61%;
  }

  .hero-greeting {
    font-size: xx-large;
  }

  .contet {
    left: 1%;
  }
}

/* 344 */
@media (max-width: 344px) {
  .contact-avatar .profile-ring {
    position: absolute !important;
    top: -1.7rem !important;
    /* right: 27% !important; */
    left: -51px !important;
    /* bottom: -30rem !important; */
    width: 18.4rem !important;
    height: 49.4rem !important;
  }
  .contact-card {
    left: -8.5rem;
  }
  .hero-center {
    left: 0rem;
  }
}

/* 328 */
@media (max-width: 328px) {
  .hero-grid {
    height: 82rem;
  }
  .contact-card-wrapper {
    width: 25rem;
    left: 35%;
  }
  .contact-avatar .profile-ring {
    position: absolute !important;
    top: -1.7rem !important;
    /* right: 27% !important; */
    left: -28px !important;
    /* bottom: -30rem !important; */
    width: 15.4rem !important;
    height: 52.9rem !important;
  }
  .hero-center {
    left: 1rem;
  }
  .nav-link svg {
    width: 1rem;
    height: 1rem;
  }

  .nav-link {
    padding: 0.5rem;
  }

  .navbar-inner {
    padding: 0.4rem;
    gap: 0.2rem;
  }

  .nav-tooltip {
    font-size: 0.65rem;
    bottom: -1.8rem;
    height: fit-content;
  }
  .nav-link svg {
    width: 1rem;
    height: 1rem;
  }

  .nav-link {
    padding: 0.5rem;
  }

  .navbar-inner {
    padding: 0.4rem;
    gap: 0.2rem;
  }

  .nav-tooltip {
    font-size: 0.65rem;
    bottom: -1.8rem;
  }

  .contact-card {
    height: 52.6rem !important;
  }

  #you-can-list li {
    font-size: 0.7rem;
  }

  .you-can-hero {
    font-size: 0.7rem;
    top: -4.6rem;
  }

  .contet {
    top: -5rem;
  }

  .hero-greeting {
    font-size: x-large;
  }
}

/* 315 */
@media (max-width: 315px) {
  .contet .text h2 {
    font-size: x-large;
  }
  .contet .text:nth-child(2) {
    font-size: small;
  }
}

/* 310 */
@media (max-width: 310px) {
  body {
    min-width: 100vw;
  }
}
